<h1 class="title is-3">Editar Publicación</h1>

<%= form_with(model: @publicacion, method: :patch, url: publicacions_update_path(:id => @publicacion.id)) do |form|%>
    <div>
        <%= form.label :Nombre_Titular %>
        <%= form.text_field :post_customer_name %>
    </div>
    <div>
        <%= form.label :Direccion_de_salida %>
        <%= form.text_field :post_direccion_salida %>
    </div>
    <div>
        <%= form.label :Direccion_de_llegada %>
        <%= form.text_field :post_direccion_llegada %>
    </div>
    <div>
        <%= form.label :Hora_del_turno %>
        <%= form.time_field :post_hora %>
    </div>
    <div>
        <%= form.label :Limite_de_personas %>
        <%= form.number_field :post_limit_personas, min: 0, max: 7%>
    </div>
    <div>
        <%= form.label :Fecha_Turno %>
        <%= form.date_field :post_day%>
    </div>
    <div>
        <%= form.submit 'Editar Publicacion' %>
    </div>
    <div>
    <%= link_to "Volver", profile_path(current_user.id) %>
    </div>
<% end %>